* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
_config.yml export-ignore
.github export-ignore
README.md export-ignore
docs export-ignore
documentation export-ignore